<section class="pt-32 text-start flex justify-center items-center min-h-screen dark:from-gray-900 dark:to-gray-800">
  <div class="container mx-auto py-12 px-6 sm:px-12 lg:px-24">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      @for (moviesCard of moviesCards; track $index) {
      <div
        class="max-w-sm bg-white border border-gray-300 rounded-lg shadow-lg hover:shadow-2xl hover:scale-105 transform transition-all duration-300 dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-full h-48 object-cover" [src]="imgPath+moviesCard.backdrop_path"
          alt="{{moviesCard.title}}" loading="lazy" />
        <div class="p-6">
          <div class="flex justify-between items-center mb-4">
            <h5 class="text-sm font-medium text-white bg-gradient-to-r from-blue-500 to-sky-700 rounded-full px-4 py-1">
              {{moviesCard.media_type}}
            </h5>
            <p class="text-sm font-light text-gray-700 dark:text-gray-300">
              {{moviesCard.first_air_date}}
            </p>
          </div>
          <hr class="mb-4 border-gray-200 dark:border-gray-700">
          <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white truncate">
            {{moviesCard.name}}
          </h2>
          <p class="text-sm text-gray-600 dark:text-gray-400 leading-relaxed line-clamp-3">
            {{moviesCard.overview}}
          </p>
        </div>
      </div>
      }
    </div>
  </div>
</section>
