<div class="absolute left-1/2 transform -translate-x-1/2 text-center z-10">
  <ul
    class="w-auto mt-24  flex justify-evenly space-x-4 bg-white bg-opacity-80 shadow-lg rounded-full py-3 px-6 dark:bg-gray-800 dark:bg-opacity-90">
    <li class="px-3">
      <a routerLink="all-types"
        routerLinkActive="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500">
        All
      </a>
    </li>
    <li class="px-3">
      <a routerLink="movie-type"
        routerLinkActive="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500">
        Movie
      </a>
    </li>
    <li class="px-3">
      <a routerLink="tv-type"
        routerLinkActive="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500">
        Tv
      </a>
    </li>
  </ul>
</div>